*
  margin 0
  padding 0
  -webkit-tap-highlight-color: transparent;
*,*:before,*:after
  box-sizing border-box
body,html
  height 100%
body
  font-family: -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  font-size 12px
ul,li
  list-style none
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
*:focus
  outline none
input[type="submit"], input[type="reset"], input[type="button"], button
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

input::-moz-focus-inner, button::-moz-focus-inner
  border: 0;
  padding: 0;

// reset tabs antd
.cusTabStyle
  height: 100%
  .ant-tabs-card
  .ant-tabs-content
    height: 100%
  .ant-tabs-content
    background: #fff
    padding-bottom: 3em
  .ant-tabs-tab
    border: none !important

// fix ie
.ie
  [data-hack='OptionSelectWrapper']
    display: table
  [data-hack='OptionSelectLetter']
    display: table-cell
    vertical-align: middle
  [data-hack='OptionSelectContent']
    display: table-cell
    vertical-align: middle
    padding-left: 1em
  [data-hack='QsQsWrapper']
    padding-bottom: 10em
  [data-hack='QsQuestionBody2']
    display: table
  [data-hack='QsQbNum']
    display: table-cell
  [data-hack='LoadingContent']
    margin: 0 auto
  [data-hack='ErrorContent']
    margin: 0 auto
