$primary-color=#44b336
$link-color=#33a225
$primary-color-active=#7cd569
$default-border-color=#eee
.hidden
  display none

.clearfix:after
  content " "
  display block
  clear both
$primary-cc-color=#2a83f3
$active-cc-color=#559cf5
$menu-ams-color=#e5f0fa
$font-ams-color=#2d2d2d
$font-ams-prey=rgb(102,102,102)
$ams-background-color=#e1f1fe


$font-prey-01=#464d5c   // 用于重要信息、主标题颜色
$font-prey-02=#6c7d91   // 用于次要信息、标题辅助内容颜色
$font-prey-03=#a7b1bd   // 用于次要信息、标题辅助内容颜色
$font-prey-04=#d2d8de   // 用于次要信息、标题辅助内容颜色
$font-prey-04=#f0f3fa   // 用于次要信息、标题辅助内容颜色

textOverflow()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
